
.input_width_menor{
    width: 320px;
}

.button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button-container .btn{
    width: 143px;
    margin-left: 4px;
    font-size: 20px;
}

.botao-cancelar{
    grid-column: 2;
}

@media screen and (min-width: 768px){

    .input_width_medio{
        width: 600px;
    }
    
    .botao-cancelar{
        grid-column: 3;
    }
    
    }